@page "/"
@using Types.Models
@using Portal.Client.Components.Links
@using System.Data
@inject HttpClient _httpClient
@inject IMatDialogService _matDialogService

<style>
    .board{
    }

    .link-block{
        width: 300px;
        margin: 20px;
        transition: box-shadow 0.5s ease-in-out;
        display: inline-block;
    }
    
    .link-title{
        padding: 5px 5px 0;
        font-size: 20px;
        font-weight: 600;
        opacity: 0.9;
    }

    .link-title a{
        color: black;
    }
    
    .link-title a:hover{
        text-decoration: none;
    }
    
    .link-url{
        color: black;
        opacity: 0.7;
        text-decoration: underline;
        font-style: italic;
        padding: 0 5px;
        font-size: 13px;
        margin-top: -6px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
    }
    
    .link-url:hover{
        color: black;
    }
    
    .link-description{
        color: black;
        padding: 5px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    
    .link-block:hover{
        box-shadow: 0 6px 7px -4px rgb(0 0 0 / 20%),
                    0 11px 15px 1px rgb(0 0 0 / 14%),
                    0 4px 20px 3px rgb(0 0 0 / 12%);
    }
    
    .block {
        column-count: 3;
        padding-right: 1%;
        padding-left: 1%;
    }
    
    @@media screen and (max-width: 1100px) and (min-width: 760px){
        .block {
            column-count: 2;
        }
    }
    
    @@media screen and (max-width: 760px) {
        .block {
            column-count: 1;
        }
    }
    
    .center-title {
        text-align: center;
    }
    
    .link-edit-btn{
        color: black !important;
        float: right;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    
    .link-block:hover .link-edit-btn{
        opacity: 0.3;
    }
    
    .link-block:hover .link-edit-btn:hover{
        opacity: 0.8;
    }
    
</style>

<div class="board">
    @foreach (var block in _blockModels)
    {
        <h2 class="center-title">@block.Title</h2>
        <div class="block">
            @foreach (var link in block.Links)
            {
                <div class="link-block mat-elevation-z5" style="order: @link.Order">
                    <div class="link-title">
                        <a href="@link.Link">@link.Title</a>
                        <MatButton Class="link-edit-btn" OnClick='OpenEditDialog'>
                            <MatIcon Icon="@MatIconNames.Edit"/>
                        </MatButton>
                    </div>
                    <a href="@link.Link" class="link-url">@link.Link</a>
                    <div class="link-description">@link.Description</div>
                </div>
            }
        </div>
    }
</div>


@code
{
    private IList<BlockModel> _blockModels = new List<BlockModel>();

    protected override async Task OnInitializedAsync()
    {
        _blockModels = await _httpClient.GetJsonAsync<List<BlockModel>>("blocks");
    }

    private Task OpenEditDialog()
    {
        return _matDialogService.OpenAsync(typeof(EditLinkComponent), null);
    }
    
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
}