@page "/"
@using Web.Models
@using Web.TestData

<style>
    .board{
    }

    .link-block{
        width: 300px;
        margin: 20px;
        transition: box-shadow 0.5s ease-in-out;
        display: inline-block;
    }
    
    .link-block:hover{
        text-decoration: none;
    }
    
    .link-title{
        color: black;
        padding: 5px 5px 0;
        font-size: 20px;
        font-weight: 600;
        opacity: 0.9;
    }
    
    .link-url{
        color: black;
        opacity: 0.7;
        text-decoration: underline;
        font-style: italic;
        padding: 0 5px;
        font-size: 13px;
        margin-top: -6px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    .link-description{
        color: black;
        padding: 5px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    
    .link-block:hover{
        box-shadow: 0 6px 7px -4px rgb(0 0 0 / 20%),
                    0 11px 15px 1px rgb(0 0 0 / 14%),
                    0 4px 20px 3px rgb(0 0 0 / 12%);
    }
    
    .block {
        column-count: 3;
    }
    
    .center-title {
        text-align: center;
    }
</style>

<div class="board">
    @foreach (var block in _blockModels)
    {
        <h2 class="center-title">@block.Title</h2>
        <div class="block">
            @foreach (var link in block.Links)
            {
                
                <a href="@link.Link" class="link-block mat-elevation-z5" style="order: @link.Order">
                    <div class="link-title">@link.Title</div>
                    <div class="link-url">@link.Link</div>
                    <div class="link-description">@link.Description</div>
                </a>
            }
        </div>
    }
</div>


@code
{
    private int _currentItem = 0;

    private readonly IList<BlockModel> _blockModels = TestBlockModels.BlockModels;
}